@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?eamx5g');
  src:  url('fonts/icomoon.eot?eamx5g#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?eamx5g') format('truetype'),
    url('fonts/icomoon.woff?eamx5g') format('woff'),
    url('fonts/icomoon.svg?eamx5g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook-square:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-facebook-f:before {
  content: "\e902";
}
.icon-youtube-play:before {
  content: "\e903";
}
.icon-youtube-square:before {
  content: "\e904";
}
.icon-youtube:before {
  content: "\e905";
}
.icon-dot-single:before {
  content: "\e900";
}
.icon-presentation:before {
  content: "\e00e";
}
.icon-video:before {
  content: "\e011";
}
.icon-camera:before {
  content: "\e012";
}
.icon-tools:before {
  content: "\e033";
}
.icon-profile-male:before {
  content: "\e040";
}
.icon-chat:before {
  content: "\e049";
}
